


<section data-ng-controller="CandidateController" data-ng-init="findcandidates()">
    <section class="section first">
    <div class="container">
        
            <div class="page-header">
                <h1>Hồ Sơ</h1>

		<div class="addthis_native_toolbox"  data-url="http://tuyensinh.phanhoi.xyz"></div>

		Đang xây dựng chức năng dự báo điểm chuẩn. Bạn nào thiếu điểm đến <a href="/#!/contacts">trang contact</a> và để lại thông tin của mình nhé.
            </div>
            <p>             
              <a class="btn btn-default mr-10" role="button" ng-repeat="condition in conditions" ng-click="removeCondition(condition)">
                {{condition.name}} <span class="glyphicon glyphicon-remove"></span>
              </a>
            </p>
            <div class="input-group">
              <input type="text" ng-model="query" class="form-control" placeholder="Nhập Số báo danh hoặc Họ và tên thí sinh...">
              <span class="input-group-btn">
                <button class="btn btn-info" type="button" ng-click="search()">Tìm kiếm</button>
              </span>
            </div><!-- /input-group -->

           <div class="row"> <nav class="pull-right" ng-show="pagination > 0">
              <ul  class="pagination">
                <li  ng-class="{'disabled' : pagination_active <= 1 }">
                  <a ng-click="addPreviousPagination()" aria-label="Previous"  >
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li><a>{{pagination_active}}/{{pagination}}</a></li>                
                <li>
                <li ng-class="{'disabled' : pagination_active >= pagination }">
                  <a ng-click="addNextPagination()" aria-label="Next" >
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav></div>

            <div class="">
                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                    <th width="1%">#</th>
                    <th width="19%">Họ và tên thí sinh</th>
                    <th width="5%">Số báo danh</th>
                    <th width="20%">
                        <div class="btn-group" dropdown >
                          <button type="button" id="dropdown-school" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="" aria-expanded="">
                            Trường <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdown-school">
                            <li ng-repeat="choice in schools" ><a ng-click="addSchool(choice)">{{choice.name}}</a></li>
                            
                          </ul>
                        </div>
                    </th>
                    <th width="20%">
                      <div class="btn-group" dropdown>
                          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="faculties.length == 0">
                            Ngành <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li ng-repeat="choice in faculties"><a ng-click="addFaculty(choice)">{{choice.name}}</a></li>                    
                          </ul>
                        </div>
                    </th>
                    <th width="10%">
                      <div class="btn-group" dropdown>
                          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tổ hợp môn <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li ng-repeat="choice in Subjectgroups"><a ng-click="addSubjectgroup(choice)">{{choice.subject_group}}</a></li>
                  
                          </ul>
                        </div>
                    </th>
                    <th>
                      <div class="btn-group" dropdown>
                          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ưu tiên <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li ng-repeat="choice in [1,2,3,4]"><a ng-click="addPriority(choice)">{{choice}}</a></li>
                  
                          </ul>
                        </div>
                    </th>
                    <th>Tổng điểm</th>              
                    </tr>
                  </thead>
                  <tbody >

                    <tr data-ng-repeat="candidate in candidates">
                      <td scope="row">{{$index+1+pagination_count}}</td>
                      <td>{{candidate.student_name}}</td>
                      <td>{{candidate.student_id}}</td>
                      <td>{{candidate.school_code}}</td>
                      <td>{{candidate.faculty}}</td>
                      <td>{{candidate.subject_group}}</td>
                      <td>{{candidate.priority}}</td>
                      <td>{{candidate.score_final}}</td>                  
                    </tr>
                    
                  </tbody>
                </table>
            </div>
            <nav class="pull-right" ng-show="pagination > 0">
              <ul  class="pagination">
                <li  ng-class="{'disabled' : pagination_active <= 1 }">
                  <a ng-click="addPreviousPagination()" aria-label="Previous"  >
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li><a>{{pagination_active}}/{{pagination}}</a></li>                
                <li>
                <li ng-class="{'disabled' : pagination_active >= pagination }">
                  <a ng-click="addNextPagination()" aria-label="Next" >
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
            <div class="alert alert-warning text-center" data-ng-hide="!schools.$resolved || schools.length">
            	Không có thông tin Thí sinh!
            </div>
        <div>
    </section>
</section>
