<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		
		<div class="row">
			<p class="lead">
				Chào mừng bạn đến với hệ thống truy vấn tuyển sinh
			</p>
		</div>
	</div>
	<form class="form-horizontal" data-ng-submit="query()">
	<fieldset>
	  <div class="form-group">
	    <label class="col-sm-2 control-label" for="subject_group">Tổ Hợp Môn</label>
	    <div class="col-sm-10">
		    <select 
			    data-ng-model="subject_group" 
			    id="subject_group" 
			    class="form-control" required
			    data-ng-options=" '['+item.block +'] '+item.subject_group for item in subjectgroups"
		    >
			</select>
		</div>
	  </div>
	  <div class="form-group">
	    <label class="col-sm-2 control-label" for="subject_group">Môn</label>
	    <div class="col-sm-10 subject-list" >
		    <a  data-ng-repeat="subject in subjects" class="btn btn-default" ng-class="{'btn-info': subject_group.subject_group.lastIndexOf(subject.subject) !== -1}">{{subject.subject}}</a>
		</div>
	  </div>
	  <div class="form-group">
	    <label class="col-sm-2 control-label" for="score_sum">Tổng Điểm</label>
	    <div class="col-sm-10">
	    	<input data-ng-model="score.score_sum" id="score_sum" type="number" step="0.01" class="form-control" placeholder="Tổng Điểm" required	>
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label" for="score_priority">Điểm Ưu Tiên</label>
	    <div class="col-sm-10">
	    	<input data-ng-model="score.score_priority" id="score_priority" type="number" step="0.01" class="form-control" placeholder="Điểm Ưu Tiên" required>
	    </div>
	  </div>	  
	  <p class="text-center"><button type="submit" class="btn btn-primary">Tìm</button></p>
	  </fieldset>
	</form>

</section>