<section data-ng-controller="HomeController">
	<div class="row">
		<div class="col-sm-9">
			<section class="section">
				<div class="">
				<form class="">
				<fieldset>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
							    <label class=" control-label" for="subject_group">Tổ Hợp Môn</label>
							    
							    <select 
								    data-ng-model="subject_group" 
								    id="subject_group" 
								    class="form-control"
								    data-ng-options=" '['+item.block +'] '+item.subject_group for item in subjectgroups"
							    >
							    <option value=""> --- Tất cả Tổ Hợp Môn ---</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
							    <label class="control-label" for="subject_group">Thứ Tự Nguyện Vọng</label>
							    <select 
								    data-ng-model="priority" 
								    id="subject_group" 
								    class="form-control"
								    
							    >
							    <option value=""> --- Tất cả Nguyện Vọng ---</option>
								<option value="1"> 1 </option>
								<option value="2"> 2 </option>
								<option value="3"> 3 </option>
								<option value="4"> 4 </option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
				    	<div class="col-sm-6">

					<div class="form-group">
				    <label class=" control-label" for="sector">Nhóm Ngành</label>
							    <select 
								    data-ng-model="sector" 
								    id="sector" 
								    class="form-control" 
								    ng-change="sectoritem = {}"
								    data-ng-options=" '['+item.code +'] '+item.name for item in sectors"
							    >
							    <option value=""> --- Tất cả Nhóm Ngành ---</option>
								</select>
						</div>
					</div>
							<div class="col-sm-6">
							<div class="form-group">
				    <label class=" control-label" for="sector">Ngành</label>
								<select 
								    data-ng-model="sectoritem" 
								    id="sectoritem" 
								    class="form-control" 
								    data-ng-options=" '['+item.code +'] '+item.name for item in sectoritems | filter: {sector_code: sector.code}"
							    >
							    <option value=""> --- Tất cả Ngành ---</option>
								</select>
							</div>
							</div>
						</div>
				  
						  	<div class="row">
						  		<div class="col-sm-3">
						  		<div class="form-group">
						<label class="control-label" for="score_priority">{{ subject_group ? 'Điểm môn ' + subject_group.subject1 : 'Điểm môn 1'}}</label>
						  			<input data-ng-model="score.score_1" name="score_1" id="score_1" type="number" step="0.01" class="form-control" placeholder="{{ subject_group ? 'Điểm môn ' + subject_group.subject1 : 'Điểm môn 1'}}" max="10" min="1" required	>
						  			
						  			</div>
						  		</div>
						  		<div class="col-sm-3">
						  		<div class="form-group">
						<label class="control-label" for="score_priority">{{ subject_group ? 'Điểm môn ' + subject_group.subject2 : 'Điểm môn 2'}}</label>
						  			<input data-ng-model="score.score_2" name="score_2" id="score_2" type="number" step="0.01" class="form-control" placeholder="{{ subject_group ? 'Điểm môn ' + subject_group.subject2 : 'Điểm môn 2'}}" max="10" min="1" required	>
						  			
						  			</div>
						  		</div>
						  		<div class="col-sm-3">
						  		<div class="form-group">
						<label class="control-label" for="score_priority">{{ subject_group ? 'Điểm môn ' + subject_group.subject3 : 'Điểm môn 3'}}</label>
						  			<input data-ng-model="score.score_3" name="score_3" id="score_3" type="number" step="0.01" class="form-control" placeholder="{{ subject_group ? 'Điểm môn ' + subject_group.subject3 : 'Điểm môn 3'}}" max="10" min="1" required	>
						  			
						  			</div>

						  		</div>
						  		<div class="col-sm-3">
						  		<div class="form-group">
						<label class="control-label" for="score_priority">Điểm Ưu Tiên</label>
						  			<input data-ng-model="score.score_priority" name="score_priority" id="score_priority" max="10" min="0" type="number" step="0.01" class="form-control" placeholder="Điểm Ưu Tiên" required	>
						  		
						  			</div>
						  		</div>
						  	</div>
				  <div class="row">
				  <p class="text-center"><button type="submit" ng-click="opportunity()" class="btn btn-primary">Cơ hội</button></p>

				  <alert ng-show="message.length > 0" type="danger" >{{message}}</alert>
				  <p class="text-center"><div class="addthis_native_toolbox" data-url="http://tuyensinh.phanhoi.xyz"></div></p>
				  </div>
				  </fieldset>
				</form>
				</div>
			</section>
<section  ng-show="facultys.length > 0">
	<div class="">
		<div class="panel panel-default">
			<div class="panel-heading">
				<p>- Cơ hội cho những thí sinh xét tuyển theo tổ hợp môn <span class="label label-success">{{subject_group.subject_group}}</span> với tổng điểm <span class="label label-warning">{{score.score_1 + score.score_2 + score.score_3 + score.score_priority | number : 2}}</span> chưa nhân hệ số</p>
				<p>- Với những tổ hợp có nhân hệ số, hệ số được ghi phía sau của tên môn tương ứng. Ví dụ <span class="label label-default">Toán-Văn-AnhX2</span> có nghĩa môn <span class="label label-primary">Anh</span> được <span class="label label-primary">nhân hệ số 2</span><p>
				<p><i>{{opportunity_string}}</i></p>
				
			</div>
		</div>
		<div class="panel panel-default" data-ng-repeat="faculty in facultys | orderBy:['-opportunity', 'index'] ">
			<div class="panel-heading">
	          	<h4>{{faculty.name}} - {{faculty.school_name}}</h4>
	          	<p> 
	          		<a class="btn btn-default" role="button" ng-class="{'btn-success' : faculty.opportunity > 0, 'btn-primary' : faculty.opportunity == 0, 'btn-danger' : faculty.opportunity < 0 }">
	          			Cơ hội <span class="badge">{{faculty.opportunity| number:2}}%</span>
	          		</a>

	          		<a class="btn btn-default" role="button">
	          			Chỉ tiêu <span class="badge">{{faculty.quota}}</span>
	          		</a>

	          		<a class="btn btn-warning" role="button">
	          			Vị trí <span class="badge">{{faculty.index}}</span>
	          		</a>

	          		<a class="btn btn-primary" role="button">
	          			Số hồ sơ <span class="badge">{{faculty.candidate_apply}}</span>
	          		</a>	          		
	          	</p>
	          	<p>	        
	          		Tổ hợp <span ng-repeat="subject_group in faculty.subject_group"><span class="label label-primary" >{{subject_group}}</span>&nbsp;</span>
	          	</p>
	        </div>
		</div>
	</div>
</section>
<div class="alert alert-warning text-center" data-ng-show="facultys.length ==0">
	Chúng tôi chưa tìm thấy <span class="label label-default">cơ hội</span> dành cho bạn. Bạn vui lòng thử lại với các thông tin khác
</div>

		</div>	
		<div class="col-sm-3">
		<section class="section">
			<section  data-ng-controller="StatisticsController" data-ng-init="find()">
				<div class="panel panel-default">
					<div class="panel-body">
						<p data-ng-repeat="statistic in statistics">
						
							<span 

							ng-class="{
							'label-primary' : statistic.key == 'candidate',
							'label-warning' : statistic.key == 'student',
							'label-danger' : statistic.key == 'school',
							'label-success' : statistic.key == 'faculty',

							}"
							data-ng-bind="statistic.value | number : 0" class="label label-default" ></span> <span data-ng-bind="statistic.name" ></span>
			        	</p>

					</div>
				</div>
			   
			    
			</section>
</section>
		</div>
	</div>

</section>