<section data-ng-controller="HomeController">
<section class="section">
	<div class="container">
	<form class="form-horizontal">
	<fieldset>
	  <div class="form-group">
	    <label class="col-sm-2 control-label" for="subject_group">Tổ Hợp Môn</label>
	    <div class="col-sm-10">
		    <select 
			    data-ng-model="subject_group" 
			    id="subject_group" 
			    class="form-control" required
			    data-ng-options=" '['+item.block +'] '+item.subject_group for item in subjectgroups"
		    >
			</select>
		</div>
	  </div>
	  <div class="form-group">
	    <label class="col-sm-2 control-label" for="subject_group">Môn</label>
	    <div class="col-sm-10 subject-list" >
		    <a data-ng-repeat="subject in subjects" class="btn btn-default" ng-class="{'btn-info': subject_group.subject_group.lastIndexOf(subject.subject) !== -1}" style="margin:4px">{{subject.subject}}</a>
		</div>
	  </div>
	  <div class="form-group">
			<label class="col-sm-2 control-label" for="score_priority">Kết quả thi</label>
			<div class="col-sm-10">
			  	<div class="row">
			  		<div class="col-sm-3">
			  			<input data-ng-model="score.score_1" name="score_1" id="score_1" type="number" step="0.01" class="form-control" placeholder="{{ subject_group ? 'Điểm môn ' + subject_group.subject1 : 'Điểm môn 1'}}" max="10" min="1" required	>
			  		</div>
			  		<div class="col-sm-3">
			  			<input data-ng-model="score.score_2" name="score_2" id="score_2" type="number" step="0.01" class="form-control" placeholder="{{ subject_group ? 'Điểm môn ' + subject_group.subject2 : 'Điểm môn 2'}}" max="10" min="1" required	>
			  		</div>
			  		<div class="col-sm-3">
			  			<input data-ng-model="score.score_3" name="score_3" id="score_3" type="number" step="0.01" class="form-control" placeholder="{{ subject_group ? 'Điểm môn ' + subject_group.subject3 : 'Điểm môn 3'}}" max="10" min="1" required	>
			  		</div>
			  		<div class="col-sm-3">
			  			<input data-ng-model="score.score_priority" name="score_priority" id="score_priority" max="10" min="0" type="number" step="0.01" class="form-control" placeholder="Điểm Ưu Tiên" required	>
			  		</div>
			  	</div>
		  	</div>
	  </div>
	  <p class="text-center"><button type="submit" ng-click="opportunity()" class="btn btn-primary">Cơ hội</button></p>
	  <alert ng-show="message.length > 0" type="danger" >{{message}}</alert>
	  <!-- <p class="text-center"><div class="addthis_native_toolbox"></div></p> -->
	  </fieldset>
	</form>
	</div>

</section>
<section class="section" ng-show="schools.length > 0 ">
<div class="container">
<div class="panel panel-default" data-ng-repeat="school in schools" data-ng-href="#!/schools/{{school._id}}">
          <div class="panel-heading">
          	<h4>{{school.name}}</h4>
          	<p>          		
          		<a class="btn btn-success" role="button">
          			Điểm sàn <span class="badge">{{school.smallest_benchmark}} - {{school.largest_benchmark}}</span>
          		</a>
          		<a class="btn btn-success" role="button">
          			Trúng tuyển <span class="badge">{{school.matriculated}}/{{school.quota}}</span>
          		</a>
          		<a class="btn btn-success" role="button">
          			Còn lại <span class="badge">{{school.quota - school.matriculated}}/{{school.quota}}</span>
          		</a>
          		<a class="btn btn-success" role="button">
          			Chỉ tiêu <span class="badge">{{school.quota}}</span>
          		</a>
          		<a class="btn btn-success" role="button">
          			Hồ sơ <span class="badge">{{school.resume}}</span>
          		</a>
          		<a class="btn btn-success" role="button">
          			Thí sinh <span class="badge">{{school.candidate}}</span>
          		</a>
          		<a class="btn btn-info" role="button" ng-click="view_school(school)">
          			Xem chi tiết <span class="glyphicon glyphicon-th"></span>
          		</a>
          		
          	</p>
            <p><small class="list-group-item-text">
                Posted on
                <span data-ng-bind="school.created | date:'short'"></span>
                - Modified
                <span data-ng-bind="school.modified | date:'short'"></span>
            </small></p>
          </div>
          <div class="panel-body" ng-show="school.faculty.length > 0">
          	<p>- [Điểm sàn] [Trúng tuyển] được hệ thống tính dựa trên <strong>Nguyên tắc xét tuyển</strong> sau: Xét toàn bộ các nguyện vọng cùng lúc, nếu một thí sinh trúng tuyển vào nhiều hơn một nguyện vọng, nguyện vọng nào có ưu tiên cao hơn sẽ được giữ lại (trúng tuyển), các nguyện vọng còn lại sẽ bị loại bỏ. </p>
          	<p>- [Thí sinh] là tổng số lượng thí sinh đăng ký xét tuyển tại trường. </p>
          	<p>- [Hồ sơ] là tổng số lượng nguyện vọng mà thí sinh đã đăng ký xét tuyển (vì một thí sinh có thể đăng ký nhiều nguyện vọng tại một trường). </p>
          	<p><strong>{{school.name}}</strong> có tất cả <strong>{{school.faculty_list.length}}</strong> ngành, với các thông tin như sau:</p>
          	<div class="list-group">
		      <div href="#" class="list-group-item" ng-repeat="faculty in school.faculty | orderBy :'code'" >
		        <h4 class="list-group-item-heading">{{faculty.name}}</h4>
		        <p class="list-group-item-text">
			        <a class="btn btn-default" role="button">
	          			Điểm sàn <span class="badge">{{faculty.benchmark}}</span>
	          		</a>
	          		<a class="btn btn-default" role="button">
	          			Trúng tuyển <span class="badge">{{faculty.matriculate_list.length}}/{{faculty.quota}}</span>
	          		</a>
	          		<a class="btn btn-default" role="button">
	          			Còn lại <span class="badge">{{faculty.quota - faculty.matriculate_list.length}}/{{faculty.quota}}</span>
	          		</a>
	          		<a class="btn btn-default" role="button">
	          			Chỉ tiêu <span class="badge">{{faculty.quota}}</span>
	          		</a>
	          		<a class="btn btn-default" role="button">
	          			Hồ sơ <span class="badge">{{faculty.candidate_apply.length}}</span>
	          		</a>
	          		<a class="btn btn-info" role="button" ng-click="view_table_faculty(faculty.code)">
	          			Xem danh sách <span class="glyphicon glyphicon-list"></span>
	          		</a>
          		</p>
          		<div class="table-responsive" ng-show="view_table == faculty.code">
          			<table class="table table-hover">
				      <thead>
				        <tr>
				          <th>#</th>
				          <th>Họ và tên thí sinhe</th>
				          <th>Số báo danh</th>
				          <th>Kết quả thi</th>					    
					        <th>Thứ tự nguyện vọng</th>
				        </tr>
				      </thead>
				      <tbody>
				        <tr ng-repeat="candidate in faculty.matriculate_list">
				          <th scope="row">{{$index+1}}</th>
				          <td>{{candidate.student_name}}</td>
				          <td>{{candidate.student_id}}</td>
				          <td>{{candidate.score_final}}</td>
				          <td>{{candidate.priority}}</td>
				        </tr>				        
				      </tbody>
				    </table>
          		</div>
		      </div>
		    </div>
          </div>
        </div>
       </div>
</section>
<section class="section" ng-show="facultys.length > 0">

	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<p>Cơ hội cho những thí sinh có tổ hợp môn <span class="label label-success">{{subject_group.subject_group}}</span> với tổng điểm chưa nhân hệ số <span class="label label-warning">{{score.score_1 + score.score_2 + score.score_3 + score.score_priority}}</span></p>
				<p><i>{{opportunity_string}}</i></p>
			</div>
		</div>
		<div class="panel panel-default" data-ng-repeat="faculty in facultys">
			<div class="panel-heading">
	          	<h4>{{faculty.name}} - {{faculty.school_name}}</h4>
	          	<p>          		
	          		<a class="btn btn-default" role="button" ng-class="{'btn-success' : faculty.opportunity > 0, 'btn-primary' : faculty.opportunity == 0, 'btn-warning' : faculty.opportunity < 0 }">
	          			Cơ hội <span class="badge">{{faculty.opportunity| number:2}}%</span>
	          		</a>
	          		<a class="btn btn-primary" role="button">
	          			Vị trí <span class="badge">{{faculty.index}}</span>
	          		</a>
	          		<a class="btn btn-primary" role="button">
	          			Còn lại <span class="badge">{{faculty.remain}}</span>
	          		</a>
	          		<a class="btn btn-default" role="button">
	          			Chỉ tiêu <span class="badge">{{faculty.quota}}</span>
	          		</a>
	          		<a class="btn btn-default" role="button">
	          			Hồ sơ <span class="badge">{{faculty.candidate_apply}}</span>
	          		</a>
	          		<!-- <a class="btn btn-info" role="button" ng-click="view_table_faculty(faculty.code)">
	          			Xem danh sách <span class="glyphicon glyphicon-list"></span>
	          		</a> -->
	          		
	          	</p>
	        </div>
		</div>
	</div>
</section>
</section>