
<section class="section" data-ng-controller="TeamController">
<style type="text/css">
header#page-title {display: none }
header#page-title-team {display: block!important }

</style>
        <div class="container" id="team-gird">
<div class="row " >
<div class="col-sm-4 col-md-4 col-sm-offset-4 col-md-offset-4 ">
        <div class="thumbnail">          
          <img alt="Lê Văn Duyệt" src="/modules/core/img/team/984275_664233523685907_2926524304880575497_n.jpg" data-holder-rendered="true" style="width: 100%; display: block;" class="img-circle img-responsive">
          <div class="caption text-center">
            <h4><a target="_blank" href="https://www.facebook.com/thanhhung.ngo.313?fref=ts">TS. Ngô Thanh Hùng</a></h4>
            <p>Mentor</p>            
          </div>
        </div>
      </div>
      </div>

      <div class="row" >
      <div class="col-sm-3 col-md-3">
        <div class="thumbnail">          
          <img alt="Lê Văn Duyệt" src="/modules/core/img/team/1601453_874652992613618_4243559683384157803_n.jpg" data-holder-rendered="true" style="width: 100%; display: block;" class="img-circle img-responsive">
          <div class="caption text-center">
            <h4><a target="_blank" href="https://www.facebook.com/lvduit?fref=ts">Lê Văn Duyệt</a></h4>
            <p>Developer</p>            
          </div>
        </div>
      </div>
      
      <div class="col-sm-3 col-md-3">
        <div class="thumbnail">          
          <img alt="Pong Pi" src="/modules/core/img/team/11218173_886369861439500_1371843218372485098_n.jpg" data-holder-rendered="true" style="width: 100%; display: block;" class="img-circle img-responsive">
          <div class="caption text-center">
            <h4><a target="_blank" href="https://www.facebook.com/eroshaly?fref=ts">Pong Pi</a></h4>
            <p>Developer</p>            
          </div>
        </div>
      </div>
      
      <div class="col-sm-3 col-md-3">
        <div class="thumbnail">          
          <img alt="Pong Pi" src="/modules/core/img/team/11781774_614285582047793_1264241057577858953_n.jpg" data-holder-rendered="true" style="width: 100%; display: block;" class="img-circle img-responsive">
          <div class="caption text-center">
            <h4><a target="_blank" href="https://www.facebook.com/profile.php?id=100003990697358&fref=ts">Trần Võ Nguyên</a></h4>
            <p>PR</p>            
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="thumbnail">          
          <img alt="Pong Pi" src="/modules/core/img/team/11873462_484133471767819_2116270723823162174_n.jpg" data-holder-rendered="true" style="width: 100%; display: block;" class="img-circle img-responsive">
          <div class="caption text-center">
            <h4><a target="_blank" href="https://www.facebook.com/12520484ntt?fref=ts">Trọng Tuấn</a></h4>
            <p>Data</p>            
          </div>
        </div>
      </div>
      </div>
<div class="row" >
      <div class="col-sm-3 col-md-3">
        <div class="thumbnail">          
          <img alt="Pong Pi" src="/modules/core/img/team/11081064_472332896250237_9216390831159694532_n.jpg" data-holder-rendered="true" style="width: 100%; display: block;" class="img-circle img-responsive">
          <div class="caption text-center">
            <h4><a target="_blank" href="https://www.facebook.com/tranthuyduong2394?fref=ts">Trần Thùy Dương</a></h4>
            <p>Data</p>            
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="thumbnail">          
          <img alt="Pong Pi" src="/modules/core/img/team/10422474_754269278014354_3224065929133450445_n.jpg" data-holder-rendered="true" style="width: 100%; display: block;" class="img-circle img-responsive">
          <div class="caption text-center">
            <h4><a target="_blank" href="https://www.facebook.com/ngocthao.le.904?fref=ts">Thảo Lê</a></h4>
            <p>Data</p>            
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="thumbnail">          
          <img alt="Pong Pi" src="/modules/core/img/team/11045346_343536405850376_7275809329466579099_n.jpg" data-holder-rendered="true" style="width: 100%; display: block;" class="img-circle img-responsive">
          <div class="caption text-center">
            <h4><a target="_blank" href="https://www.facebook.com/baodang0607?fref=ts">Đăng Nguyễn</a></h4>
            <p>Data</p>            
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="thumbnail">          
          <img alt="Pong Pi" src="/modules/core/img/team/11825145_886479691439903_6941223214890740268_n.jpg" data-holder-rendered="true" style="width: 100%; display: block;" class="img-circle img-responsive">
          <div class="caption text-center">
            <h4><a target="_blank" href="https://www.facebook.com/ho.khai?fref=ts">Hồ Quang Khải</a></h4>
            <p>Data</p>            
          </div>
        </div>
      </div>
      </div>
      <div class="row" >
      <div class="col-sm-3 col-md-3">
        <div class="thumbnail">          
          <img alt="Pong Pi" src="/modules/core/img/team/11052499_831347593644068_112145587672865363_n.jpg" data-holder-rendered="true" style="width: 100%; display: block;" class="img-circle img-responsive">
          <div class="caption text-center">
            <h4><a target="_blank" href="https://www.facebook.com/khanhminh.uit.94?fref=ts">Minh Khánh</a></h4>
            <p>Data</p>            
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="thumbnail">          
          <img alt="Pong Pi" src="/modules/core/img/team/11036664_963621456993224_7604285228779420042_n.jpg" data-holder-rendered="true" style="width: 100%; display: block;" class="img-circle img-responsive">
          <div class="caption text-center">
            <h4><a target="_blank" href="https://www.facebook.com/trancongdanh102?fref=ts">Trần Công Danh</a></h4>
            <p>Data</p>            
          </div>
        </div>
      </div>



    </div>
    </div>